In [ ]:
import pandas as pd
import random
random.seed(42)
# First, count total number of rows
with open("./project/accepted_2007_to_2018Q4.csv") as f:
    total_lines = sum(1 for line in f) - 1  # exclude header

n_skip = total_lines - 5000
skip = sorted(random.sample(range(1, total_lines + 1), total_lines - 5000))

cols = [
    'int_rate',
    'dti',
    'loan_amnt',
    'installment',
    'annual_inc',
    'loan_status'
]

df_sample = pd.read_csv(
    "./project/accepted_2007_to_2018Q4.csv",
    usecols=cols,
    skiprows=skip  # skip most lines, keep only 5,000
)
df_sample['default'] = df_sample['loan_status'].apply(lambda x: 0 if 'Fully Paid' in str(x) else 1)

for col in cols:
    if col != 'default' and col != 'loan_status':
        df_sample[f's_{col}'] = (df_sample[col] - df_sample[col].mean()) / df_sample[col].std()

ordered_cols = []
for col in cols:
    if col != 'default' and col != 'loan_status':
        ordered_cols.append(col)
        ordered_cols.append(f's_{col}')
ordered_cols.append('default')  # add 'default' last

# Reorder the DataFrame
df_sample = df_sample[ordered_cols]
df_sample.to_csv("./project/processed_data.csv", index=False)

s_cols = [
    's_int_rate',
    's_dti',
    's_loan_amnt',
    's_installment',
    's_annual_inc',
    'default'
]
df_sample = df_sample[s_cols]
df_sample.to_csv("./project/processed_data_standarized_only.csv", index=False)

      loan_amnt  int_rate  installment  annual_inc  loan_status    dti  \
0       30000.0     18.49       769.83    300000.0      Current   8.62
1       16225.0     23.13       458.61     63000.0   Fully Paid  28.53
2       12050.0     14.85       416.84     85000.0  Charged Off  12.88
3       25000.0     10.78       540.83     60000.0   Fully Paid  21.96
4       30000.0     15.77       725.89     85000.0  Charged Off  25.38
...         ...       ...          ...         ...          ...    ...
4995    16000.0      8.99       332.06    125000.0  Charged Off   9.88
4996    10000.0     14.49       344.17     32000.0   Fully Paid  24.68
4997     4600.0      9.49       147.34     57000.0   Fully Paid   7.58
4998    16000.0     12.79       537.49     77000.0   Fully Paid  18.87
4999    40000.0     14.49       940.93    200000.0      Current  10.76

      default
0           1
1           0
2           1
3           0
4           1
...       ...
4995        1
4996        0
4997        0
4998        0
4999        1

[5000 rows x 7 columns]
      loan_amnt  int_rate  installment  annual_inc  loan_status    dti  \
0       30000.0     18.49       769.83    300000.0      Current   8.62
1       16225.0     23.13       458.61     63000.0   Fully Paid  28.53
2       12050.0     14.85       416.84     85000.0  Charged Off  12.88
3       25000.0     10.78       540.83     60000.0   Fully Paid  21.96
4       30000.0     15.77       725.89     85000.0  Charged Off  25.38
...         ...       ...          ...         ...          ...    ...
4995    16000.0      8.99       332.06    125000.0  Charged Off   9.88
4996    10000.0     14.49       344.17     32000.0   Fully Paid  24.68
4997     4600.0      9.49       147.34     57000.0   Fully Paid   7.58
4998    16000.0     12.79       537.49     77000.0   Fully Paid  18.87
4999    40000.0     14.49       940.93    200000.0      Current  10.76

      default  s_int_rate     s_dti  s_loan_amnt  s_installment  s_annual_inc
0           1    1.142348 -0.470232     1.597660       1.181565      4.269930
1           0    2.102469  0.414735     0.115450       0.034345     -0.283492
2           1    0.389150 -0.280882    -0.333786      -0.119628      0.139188
3           0   -0.453025  0.122709     1.059652       0.337425     -0.341131
4           1    0.579519  0.274722     1.597660       1.019594      0.139188
...       ...         ...       ...          ...            ...           ...
4995        1   -0.823416 -0.414227     0.091240      -0.432144      0.907698
4996        0    0.314658  0.243609    -0.554369      -0.387504     -0.879088
4997        0   -0.719955 -0.516458    -1.135417      -1.113060     -0.398769
4998        0   -0.037110 -0.014636     0.091240       0.325113     -0.014514
4999        1    0.314658 -0.375112     2.673674       1.812275      2.348655

[5000 rows x 12 columns]